@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scroll para âncoras */
html {
  scroll-behavior: smooth;
}

/* Garante que nav sobreponha todo conteúdo */
nav {
  backdrop-filter: blur(6px);
}

.bg-opacity-90 {
  --tw-bg-opacity: 0.9;
}
